{{!
    Template for readme.
}}{{pkg.name}}
=====
<!-- Badge start -->

{{#each badges}}[![{{alt}}][{{img}}]][{{link}}]
{{/each}}
<!-- Badge end -->


{{pkg.description}}

<!-- Banner start -->

{{#each banners}}<a href="{{link}}"><img style="height:40px;" src="{{img}}" height="40"></a>&nbsp;
{{/each}}
<!-- Banner end -->

Table of Contents
-----
{{#each sections}}- [{{{title}}}](#{{spinalcase name}})
{{#each topics}}    - [{{{name}}}](#{{spinalcase ../name}}-{{spinalcase name}})
{{/each}}
{{/each}}


{{#each sections}}
<a name="{{spinalcase name}}"></a>
{{#each lines}}{{#if isTopic}}<a name="{{spinalcase ../../name}}-{{spinalcase name}}"></a>
{{/if}}{{{content}}}
{{/each}}
{{/each}}

<!-- Links start -->

{{#each links}}[{{@key}}]: {{this}}
{{/each}}
<!-- Links end-->