{{!
    Template for readme.
}}{{pkg.name}}
=====
<!-- Badge start -->

{{#each badges}}[![{{alt}}][{{img}}]][{{link}}]
{{/each}}
<!-- Badge end -->


{{pkg.description}}


<a href="{{pkg.homepage}}"><img style="height:128px;" src="assets/images/coz-banner.png" height="128"/></a>


Table of Contents
-----
{{#each sections}}- [{{{title}}}](#{{spinalcase name}})
{{#each topics}}    - [{{{title}}}](#{{spinalcase ../name}}-{{spinalcase name}})
{{/each}}
{{/each}}


{{#each sections}}
<a name="{{spinalcase name}}"></a>
{{#each lines}}{{#if isTopic}}<a name="{{spinalcase ../../name}}-{{spinalcase name}}"></a>
{{/if}}{{{content}}}
{{/each}}
{{/each}}

<!-- Links start -->

{{#each links}}[{{@key}}]: {{this}}
{{/each}}
<!-- Links end-->