<a name="custom-setup-template"></a>
### Custom setup with template engine.

You can pass parameters to template engine via `setup` property in bud file.
For example, handlebars engine accepts helper functions which can be called in template context.


**.render-with-custom-setup.txt.bud** (bud file)
```javascript
{{{read '../examples/06-customize-coz/.render-with-custom-setup.txt.bud'}}}
```

Running this will generate:

**render-with-custom-setup.txt** (generated file)
```
{{{read '../examples/06-customize-coz/render-with-custom-setup.txt'}}}
```


<a name="register-custom-template"></a>
### Register Custom Template Function.

You can register custom template to coz context and call it from .bud file by name.

**render-with-custom-tmpl.js** (executable file)
```javascript
{{{read '../examples/06-customize-coz/render-with-custom-tmpl.js'}}}
```

Running this will generate:

**render-by-my-custom-tmpl-01.json** (generated file)
```
{{{read '../examples/06-customize-coz/render-by-my-custom-tmpl-01.json'}}}
```

<a name="register-custom-template-engine"></a>
### Register Custom Template Engine.

By default, {{pkg.name}} use [Handlebars](http://handlebarsjs.com/) as template engine.

You can register your own engine and use it from .bud files.


**render-with-custom-engine.js** (executable file)
```javascript
{{{read '../examples/06-customize-coz/render-with-custom-engine.js'}}}
```

Running this will generate:

**render-by-my-custom-engine-01.txt** (generated file)
```
{{{read '../examples/06-customize-coz/render-by-my-custom-engine-01.txt'}}}
```

<a name="use-custom-config-from-cli"></a>
### Use Custom Configurations From CLI Interface.

To customize CLI Interface, create a configuration file and pass it's pathname to `--configuration` (or `-c`) options.

**use-custom-config-from-cli.config.js** (configuration file)
```
{{{read '../examples/06-customize-coz/use-custom-config-from-cli.config.js'}}}
```

**use-custom-config-from-cli.sh** (CLI shell)
```
{{{read '../examples/06-customize-coz/use-custom-config-from-cli.sh'}}}
```

___


### See Also

{{{seeAlso}}}

### Tutorials

{{{tutorials}}}

### Links

+ [Node.js][nodejs_url]
+ [NPM][npm_url]
+ [nvm][nvm_url]
+ [{{pkg.name}} @ npm][my_npm_url]

{{{urls}}}